body{
    margin:auto;
}

#content1{
    padding:0;
    margin:0;
    display:block;
    width:auto;
    object-fit: auto;
    position: relative;
    text-align: center;
    color: white;
}

#content_pic{
    max-width: 100%;
    max-height: 100%;
    width:100%;
}

#box1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content2{
    background-color: rgb(177, 233, 177);
    padding:80px;
    display:flex;
}